html,
body {
  padding: 0;
  margin: 0;
  font-family: Red Hat Text;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: hsl(236, 21%, 26%);
  --Very-dark-blue: hsl(235, 16%, 14%);
}

:root {
  --flip-height: 150px;
  --flip-width: calc(var(--flip-height) * 0.6);
  --line-height: calc(var(--flip-height) * 0.5);
  --flip-container-color: #171717;
  --flip-color: #171717;
  --flip-text-color: #efefef;
  --flip-border-radius: calc(var(--flip-height) * 0.05);
  --animation-time: 800ms;
  --animation-ease: linear;
  --perspective: 200px;
}
