html,
body {
  padding: 0;
  margin: 0;
  font-family: Red Hat Text;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

  --Grayish-blue: hsl(237, 18%, 59%);
  --Soft-red: hsl(345, 95%, 68%);
  --White: hsl(0, 0%, 100%);
  --Dark-desaturated-blue: #343650;
  --Very-dark-blue: hsl(235, 16%, 14%);
}

:root {
  --flip-height: 8.5rem;

  --flip-width: calc(var(--flip-height) * 1);
  --line-height: calc(var(--flip-height) * 0.5);
  --flip-container-color: #171717;
  --flip-color: #171717;
  --flip-border-radius: calc(var(--flip-height) * 0.05);
  --animation-time: 1000ms;
  --animation-ease: linear;
  --perspective: 200px;
}

@media (max-width: 700px) {
  :root {
    font-size: 10px;
  }
}
