html,
body {
  padding: 0;
  margin: 0;
  font-family: Red Hat Text;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;

--Grayish-blue: hsl(237, 18%, 59%);
--Soft-red: hsl(345, 95%, 68%);
--White: hsl(0, 0%, 100%);
--Dark-desaturated-blue: hsl(236, 21%, 26%);
--Very-dark-blue: hsl(235, 16%, 14%);

}
